:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}
.card {
  padding: 1em;
}

a {
  font-weight: 500;
  color: #cd9400;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

#links {
  display: flex;
  place-items: center;
  justify-content: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body .card:hover {
  border-color: #646cff;
}
body .card:focus,
body .card:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3.75rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2.25rem;
  line-height: 1.3;
  font-weight: 600;
  letter-spacing: -0.02em;
}

h5 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.875rem;
  line-height: 1.4;
  font-weight: 600;
}

h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 600;
}

form {
  display: inline-block;
  align-items: center;
  text-align: left;
  max-width: 400px;
}

#preview {
  max-width: 600px;
  text-align: left;
}

/* #wallet {
  position: absolute;
  top: 6%;
  right: 5%;
} */

#account {
  text-shadow: 2px 2px 5px #242424;
  width: 100%;
}

.accent-color {
  color: #f8b916;
}

input {
  width: 100%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #000;
  background-color: #ffd056;
  border-color: #cd9400;
  cursor: pointer;
  transition: border-color 0.25s;
}
#connect {
  width:100%;
}
#submit {
  margin-top: 0.6em;
  width:100%;
}

button:hover {
  background-color: rgba(255, 208, 86, 0.6);
  opacity: 1;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffd056;
  } 
  
  body {
    color: #667085;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #101828;
  }
  button {
  background-color: #ffd056;
  border-color: #cd9400;
  }
  button:hover {
    background-color: rgba(255, 208, 86, 0.6);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}